<div class="row" id="entries">
    
    <div class="col-xs-6 col-md-10  col-md-offset-1">
        <div class="col-xs-6 col-md-4">
            <a href="#/users" class="thumbnail">
                <span class="glyphicon glyphicon-user"></span>
                <div class="text">Users</div>
            </a>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#/userGroup" class="thumbnail">
                    <span class="glyphicon glyphicon-tent"></span>
                <div class="text">User Groups</div>
            </a>
        </div>
        <!--<div class="col-xs-6 col-md-4">
            <a href="#" class="thumbnail">
                    <span class="glyphicon glyphicon-oil"></span>
                <div class="text">Servers</div>
            </a>
        </div> -->
        Arrumar o Responsivo
    </div>
    
</div>