<div class="login">
    Ainda não Funciona<br>
    Apenas ilustrativa :)
    <div class="panel panel-primary">
        <div class="panel-heading"><span class="glyphicon glyphicon-home"></span> Do login </div>
        <form action='#/overview' method="post">    
        <div class="panel-body"  >
            <div class="input-group">
                
                <span class="input-group-addon" id="basic-addon1">
                    <span class="glyphicon glyphicon-user"></span>
                </span>
                <input type="text" class="form-control" placeholder="Username" ng-model="user">
            </div>   
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock"></span>
                </span>
                <input type="password" class="form-control" placeholder="Password" ng-model="pass">
            </div>  
            <button id="btLogin" type="submit" class="btn btn-default btn-block" ng-click="login(user)" >Enter</button>
        </div>
        </form>
    </div>  
</div>