    <div class="panel panel-primary">
    <div class="panel-heading"><span class="glyphicon glyphicon-user"></span>Users List </div>
    <div class="panel-body">
        <div class="input-group">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </div>
            <input type="text" class="form-control input-busca" placeholder="Search" ng-model="criteria" />
        </div>
        <p ng-if="users.length == 0" class="text-danger">Insert new User!</p>
        <table ng-if="users.length > 0" class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th width="10px"></th>
                    <th><a href="#" ng-click="sortBy('name')">User</a></th>
                    <th width="100px"> <a href="#" ng-click="sortBy('user.group')">Group</a></th>
                    <th width="10px"> </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{selected:user.selected}" ng-repeat="user in users | filter: {'name':criteria} | orderBy:propertyName:reverse"> 
                    <td><input type="checkbox" ng-model="user.selected" class="selected" /></td>
                    <td>{{user.name}}</td>
                    <td>{{user.group.name}}</td>
                    <td> <button class="btn btn-warning btn-xs glyphicon glyphicon-edit" title="edit" ng-click="edit($index, group)"></button> </td>
                </tr>
            </tbody>
        </table>
        <button ng-if="((users.length > 0) && (isSelected(users)))" class="btn btn-danger pull-right" ng-click="delete(users)">Delete selected record</button>
    </div>
</div>
    <div class="panel panel-primary">
        <div class="panel-heading"><span class="glyphicon glyphicon-user"></span>Add new user </div>
            <form name="userForm">
                <div class="panel-body"  >
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                        <span class="glyphicon glyphicon-user"></span>
                    </span>
                    <input type="text" class="form-control" placeholder="Username" ng-model="user.name" required>
                </div>   
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
                    <input type="password" class="form-control" placeholder="Password" ng-model="user.pass" required>
                </div>
                <select class="form-control" ng-model="user.group" ng-options="group.name for group in groups" name="group" ng-required="true"> 
                    <option value="">Selecione um grupo</option>
                </select>
                <button id="bt" type="button" class="btn btn-default btn-block" ng-click="save(user)" ng-disabled="userForm.$invalid">Enter</button>
            </div>
        </form>
    </div>  
</div>